.dropDownList {
  position: relative;
  display: flex;
  align-items: center;
  font-family: inherit;
  justify-content: space-between;

  .label {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 16px;
    width: 50%;
  }

  .labelNone {
    display: none;
  }

  .select {
    padding: 6px 10px;
    border: 0.5px solid rgba(70, 70, 70, 0.55);
    border-radius: 4px;
    color: hsla(0, 0%, 0%, 0.6);
    width: 100%;
    appearance: none;
    background: url(../../assets/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 12px;
    background-color: var(--white);
    padding-left: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

.button {
  height: 100%;
  background: transparent;
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  transition: 0.5s;
  font-family: inherit;
  justify-content: space-between;
  padding: 7px 10px;
  font-size: 12px;
  border: 0.5px solid rgba(70, 70, 70, 0.55);
  border-radius: 4px;
  color: hsla(0, 0%, 0%, 0.6);
}

.noneBorder {
  border: none;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-height: 160px;
  bottom: -4px;
  padding: 10px;
  transform: translate(50%, 100%);
  z-index: 2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: #ffffff;
  overflow: hidden auto;
}

.listItem {
  border: none;
  width: 100%;
  height: 20px;
  background: #ffffff;
  text-align: left;
  transition: 0.5s;
  border-radius: 4px;
  background: #ffffff;
  margin-bottom: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}
.listItemLang {
  @extend .listItem;
  display: block;
}
.listItemActive {
  font-weight: 600;
}
.arrow {
  margin-left: 5px;
}
.check {
  margin-left: 10px;
}

//dropdownlistlanguage style
.dropDownListLang {
  display: inline-block;
}
.selectOption {
  border-left: 0.5px solid #000000;
  font-weight: 300;
  padding: 0 6px;
}
.flagIcon {
  margin-right: 5px;
}
.currencyIcon {
  margin-left: 5px;
}
