.allCategoriesBox {
  display: flex;
  padding-bottom: 15px;
  align-items: center;
  margin-top: 13px;
}
.button {
  background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: none;
  padding-right: 4px;
  font-size: 14px;
}
