.wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   .upside {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;

      .title {
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
      } 
   }
   
   .downside {
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: column;

      .tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 495px;
        width: 100%;

        .tabItem,
        .active {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          padding: 5px 21px;
        }
      }

      .active{
        background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
        border-radius: 4px 4px 0px 0px;
        font-weight: 500;
      }

      .border {
        width: 100%;
        height: 2px;
        background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
        opacity: 0.2;
      }

   }

}