@import "../../mixin";

.backgroundBox {
  background: linear-gradient(96.78deg, hsla(0, 90%, 63%, 0.1) -57.09%, hsla(234, 90%, 63%, 0.1) 101.17%);
}
.previouslyWatchedCardBox {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  margin-top: 40px;
}
