$sm: 768px;
$md: 1050px;
$lg: 1366px;

@mixin sm {
@media (max-width: #{$sm}) {
    @content;
}
}
@mixin md {
@media (max-width: #{$md}) {
    @content;
}
}
@mixin lg {
@media (max-width: #{$lg}) {
    @content;
}
}