@import '../../../../mixin';

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileIcon {
  width: 21.84px;
  height: 26px;
}
.profileText {
  width: 40px;
  height: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;

  @include md {
    display: none;
  }
}
